/****************   RESET  *************
**************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

/***************** REUSABLE CSS ***********
*********************************************/

.header-ctn, main, .footer-ctn {
    max-width: 1200px;
    margin: 0 auto;
}

header, footer {
    color: #fffaf7;
}

a {
    text-decoration: none;
    color: #fff;
}

ul li {
    list-style-type: none;
}

.header-ctn .navbar,
.header-ctn .icon-ctn {
    width: 20%;
}

.header-ctn .navbar ul li,
.header-ctn .icon-ctn i {
    padding: 10px 5px;
    margin: 10px 0;
}

.header-ctn .navbar ul li,
.header-ctn .icon-ctn i,
.footer-ctn .legal-ctn .legal-link,
.footer-ctn .socials h5 {
    font-size: 1.2rem;
}

.header-ctn .navbar ul li a:hover,
.header-ctn .icon-ctn a:hover {
    cursor: pointer;
    color: #0059ff;
    transition: ease .40s;
}

.card-ctn .card .card-top .card-pic, 
.card-ctn .card .card-bot {
    width: 100%;
}

.card .card-top .heart,
.card .card-top .discount,
.card .card-top .Eco {
    position: absolute;
}

.card .card-top .discount,
.card .card-top .Eco {
    color: #fff;
    bottom: 25px;
    font-size: 1.1rem;
    font-weight: bold;
}

.card .card-bot h3,
.card .card-bot .price {
    margin-top: 2px;
}

.footer-ctn .legal-ctn .legal-link,
.footer-ctn .socials  .social-icons  a  i  {
    margin-right: 5px;
}


/*********************** HEADER ***************
*************************************************/

header {
    background-color: #ff6900;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 400;
}

.header-ctn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-ctn .logo-ctn .boolean-logo {
    width: 100px;
}

.header-ctn .navbar ul {
    display: flex;
}

.header-ctn .icon-ctn {
    text-align: right;
}

/*********************** MAIN ***************
*************************************************/

main {
    margin-top: 50px;
    padding: 60px 0;
}

.card-ctn {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.card-ctn .card {
    width: calc(100% / 3 - 20px);
    margin: 10px;
    position: relative;
}

.card-ctn .card .card-top {
    position: relative;
}

.card-ctn .card:hover {
    cursor: pointer;
}

.hidden {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.card .card-top:hover .hidden {
    cursor: pointer;
    display: inline;
}

.card .card-top .heart {
    top: 10px;
    right: 0;
    font-size: 1.6rem;
    background-color: #fff;
    padding: 10px;
}

.card .card-top .heart:hover {
    color: red;
}

.card .card-top .discount {
    left: 0;
    background-color: #ff0000;
    padding: 6px 12px;
}

.card .card-top .Eco {
    left: 55px;
    background-color: #008000;
    padding: 6px 14px;
}

.card .card-bot .brand {
    font-size: 1.4rem;
}

.card .card-bot h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

.card .card-bot .price {
    font-size: 1.4rem;
    font-weight: bold;
}

.card .card-bot .crossed-price {
    font-weight: normal;
    text-decoration: line-through;
    margin-left: 5px
}

.card:nth-of-type(6) .card-top .Eco {
    left: 0;
    background-color: #008000;
    padding: 6px 14px;
}

/*********************** FOOTER***************
*************************************************/

footer {
    background-color: #1a1a1a;
    border-bottom: 1px solid #fff;
}

.footer-ctn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.footer-ctn .legal-ctn h4 {
    font-size: 1.8rem;
    margin-bottom: 5px;
}

.footer-ctn .socials h5 {
    margin-bottom: 8px;
}

.socials  .social-icons  a  i {
    font-size: 1.6rem;
}












